@import url('https://fonts.googleapis.com/css2?family=Jost&family=Playpen+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans", sans-serif;
    background-color: pink;
}

nav {
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #ff9dc7;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px 0 100px;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 2px -2px rgb(254, 202, 211);
}

nav .logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-top: 1%;
}

nav .menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 15px;
}

nav .menu li {
    margin: 0 15px;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-weight: 500;
    text-shadow: -1.5px 0 #f009a2, 0 1.5px #f009a2, 1.5px 0 #f009a2, 0 -1.5px #f009a2;
}

nav .menu li a:hover,
nav .menu li a.active {
    border-bottom: none;
    border-radius: 15px;
    padding: 5px 30px;
    background-color: white;
    color: #f009a2;
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}

.container {
    position: relative;
}

.imagem-sobreposta {
    position: absolute;
    top: 44%;
    left: 17%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 326px;
}

.bar {
    width: 95%;
    height: 485px;
    background-image: url("img/barbie4kazul.png");
    background-size: cover;
    background-position: center;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.texto-na-barra {
    font-family: "Jost", sans-serif;
    color: #ffffff;
    margin-right: 9%;
    font-size: 35px;
    text-shadow: -1.5px 0 #3abcfe, 0 1.5px #3abcfe, 1.5px 0 #3abcfe, 0 -1.5px #3abcfe;
}

span {
    color: rgb(206, 255, 255);
    font-size: medium;
}

.text {
    font-size: 16px;
    border: 1px solid rgb(206, 255, 255);
    width: 25px;
    text-align: center;
    margin-top: -15px;
    margin-left: 4px;
    color: rgb(206, 255, 255);
    text-shadow: -1px 0 #3abcfe, 0 1px #3abcfe, 1px 0 #3abcfe, 0 -1px #3abcfe;
}

p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 4px;
}

.p-inverso{
    margin-right: 83%; 
    margin-top: 4px; 
    color: #0071d4; 
    text-shadow:none; 
    font-size: 17px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 65px;
    background: #070040;
    border-radius: 50%;
    margin-left:1% ;
}

.circle {
    fill: none;
    stroke: #4caf50;
    stroke-width: 2;
}

.circle-bg {
    fill: none;
    stroke: #2e7d32;
    stroke-width: 2;
}

.porcentagem {
    fill: #3abcfe;
    font-size: 0.2em;
    text-anchor: middle;
    text-shadow: none;
}

.play-link {
    position: absolute;
    color: #0071d4;
    font-size: 17px;
    text-decoration: none;
    margin-left: 15%;
    text-shadow: none;
}

.play-link:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #0071d4;
}

.curiosidades-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.curiosidades-section h1 {
    color: #eb0075;
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
    margin-bottom: 20px;
    font-size: 30px;
}

.curiosidade-card {
    background-color: #ff9dc7;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 4px 2px -2px rgb(254, 202, 211);
}

.curiosidade-card h2 {
    color: #ffffff;
    text-shadow: -1.5px 0 #f009a2, 0 1.5px #f009a2, 1.5px 0 #f009a2, 0 -1.5px #f009a2;
    margin-bottom: 10px;
}

.curiosidade-card p {
    color: #004e91;
    font-weight: bold;
}

.paragrafo {
    font-size: 16px;
    margin-top: -15px;
    margin-left: 4px;
}

::-webkit-scrollbar {
	width: 0.3rem;
	z-index: 3;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: #0098f0;
}

.info-section {
    display: flex;
    justify-content: space-between;
    padding: 85px;
}

.info-card {
    background-color: #ff9dc7;
    border-radius: 15px;
    padding: 20px;
    width: 65%;
    box-shadow: 0 4px 2px -2px rgb(254, 202, 211);
}

.info-card:last-child {
    margin-right: 2%;
}

.info-card:nth-child(2) {
    width: 30%;
}

.info-card h2 {
    color: #ffffff;
    text-shadow: -1.5px 0 #f009a2, 0 1.5px #f009a2, 1.5px 0 #f009a2, 0 -1.5px #f009a2;
    margin-bottom: 10px;
}

.info-card p {
    color: #004e91;
    font-size: 18px;
}

.sobre-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sobre-card {
    background-color: #ff9dc7;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 4px 2px -2px rgb(254, 202, 211);
}

.sobre-card h2 {
    color: #ffffff;
    text-shadow: -1.5px 0 #f009a2, 0 1.5px #f009a2, 1.5px 0 #f009a2, 0 -1.5px #f009a2;
    margin-bottom: 10px;
}

.sobre-card p {
    color: #004078;
    font-weight: bold;
}
